@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

#btn-padrao{
    border-radius: 25px;
    padding: 8px;
    background-color: rgb(2, 2, 255);
    width: 130px;
    font-weight: 700;
    border:none;
    padding: 15px;
    margin-top: 5PX;

}

#navbarNav{
    margin-left: 350px;
    
}
#navbarNav a{
    color: rgb(21, 21, 75);
    font-weight: 500 ;
    margin-right: 5px
    
}

#best-choice{
    width: 60%;
}

#celular{
width: 65%;
margin-left: 70px;
}

#h1-pag-1{
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 16, 95);
    margin-top: 10px;
    font-size: 40px;
}

#h6-pag-1{
margin-top: 10px;
}
#conteudo-1{
    margin-top: 150px;
    margin-left: 85px;
}
#img-cidade{
    margin-top: -150px;
    width: 100%
}
#link-video-demo {
    margin-top: 500px;
    text-decoration-line: none;
}
#conteudo-pagina-2,#conteudo-pagina-3,#conteudo-pagina-5 {
    margin-top: 100px;
}
#servicos{
    margin-top: 30px;
    margin-top: 60px;
}
#servicos h5{
   margin-bottom: 10px;
}
#servicos img{
    margin-bottom: 20px;
 }

 #conteudo-pagina-5{
background-color: rgba(221, 231, 231, 0.945);
 }
 #conteudo-pagina-5-emergency{
    margin-top: 50px;
    margin-left: 85px;
 }

 #h3-pag-5{
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 16, 95);
    margin-top: 10px;
    font-size: 16px;
}
#h1-pag-5{
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 16, 95);
    margin-top: 60px;
    font-size: 40px;
}
#h6-pag-5{
    margin-bottom: 60px;

}